<body>
<form action="delete?_method=DELETE" method="GET" id="delete_user">
        <h3>Are you sure delete?</h3>
        <input type="hidden" value="<%= user.id %>" id="id" name="id">Delete</input>
</form>
<input type="button" value="Go back!" onclick="history.back()"></input>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="users.js"></script>
</body>
