<!DOCTYPE html>
<html lang="en">

<head>
    <title>Edit Comment</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->

    <style>
        a {
            text-decoration: none;
            display: inline-block;
            padding: 8px 16px;
        }

        a:hover {
            background-color: #ddd;
            color: black;
        }

        .previous {
            background-color: #4CAF50;
            color: white;
        }

        .round {
            border-radius: 50%;
        }

        .input.a {
            word-wrap: break-word;
        }

        input[type=button] {
            padding: 5px;
            border: 2px solid #ccc;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }

        input[type=button]:focus {
            border-color: #333;
        }

        input[type=button] {
            padding: 5px 15px;
            background: #ccc;
            border: 0 none;
            cursor: pointer;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div class="container-contact100">

        <div class="wrap-contact100">
            <form class="contact100-form validate-form" method="POST" action="/editEventCommentDesc?_method=PUT">
                <span class="contact100-form-title">
                    Edit Comment
                </span>
                <input type="hidden" name="event_id" value="<%= event.event_id %>" id="event_id" />
                <input type="hidden" name="id" value="<%= event.id %>" id="id" />

                <div class="wrap-input100 validate-input">
                    <textarea class="input100" name="comment" value="<%= event.comment %>">
                        <%= event.comment %></textarea>
                    <span class="focus-input100"></span>
                </div>

                <div><input type="hidden" name="date" value="<%= event.date %>" id="date" /></div>
                <input type="hidden" name="comment_id" value="<%= event.comment_id %>" id="comment_id" />

                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn" id="update_comment">
                        <span>
                            <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
                            Save
                        </span>
                    </button>
                    <input type="button" value="Go back!" onclick="history.back()">
                </div>
            </form>

        </div>
    </div>



    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="comment.js"></script>
    <script>
        function getDate() {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            if (dd < 10) { dd = '0' + dd } if (mm < 10) { mm = '0' + mm }
            today = yyyy + "" + mm + "" + dd;

            document.getElementById("date").value = today;
        }

        //call getDate() when loading the page
        getDate();
    </script>

</body>

</html>




<!-- <body>
    <form method="POST" action="/editEventCommentDesc?_method=PUT" >
            <input type="hidden" name="event_id" value="<%= event.event_id %>" id="event_id"/>
            <input type="hidden" name="id" value="<%= event.id %>" id="id"/>
            <div>comment = <input name="comment" value="<%= event.comment %>" id="comment"/></div>
            <div><input type="hidden" name="date" value="<%= event.date %>" id="date"/></div>
            <input type="hidden" name="comment_id" value="<%= event.comment_id %>" id="comment_id"/>
            <button id="update_comment">Save</button>
            <input type="button" value="Go back!" onclick="history.back()">
     </form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="comment.js"></script>

<script>
function getDate()
{
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    if(dd<10){dd='0'+dd} if(mm<10){mm='0'+mm}
    today = yyyy+""+mm+""+dd;

    document.getElementById("date").value = today;
}

//call getDate() when loading the page
getDate();
</script>
</body> -->