<!DOCTYPE html>
<html lang="en">

<head>
        <title>Edit Event</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->
        <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="css/util.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <!--===============================================================================================-->
        <style>
                input[type=button] {
                        padding: 5px;
                        border: 2px solid #ccc;
                        -webkit-border-radius: 5px;
                        border-radius: 5px;
                }

                input[type=button]:focus {
                        border-color: #333;
                }

                input[type=button] {
                        padding: 5px 15px;
                        background: #ccc;
                        border: 0 none;
                        cursor: pointer;
                        -webkit-border-radius: 5px;
                        border-radius: 5px;
                }
        </style>
</head>

<body>


        <div class="container-contact100">

                <div class="wrap-contact100">
                        <form class="contact100-form validate-form" method="POST" action="/editEventDesc?_method=PUT">
                                <span class="contact100-form-title">
                                        Edit Event
                                </span>
                                <input type="hidden" name="id" value="<%= event.id %>" id="id" />

                                <div class="wrap-input100 validate-input" data-validate="Please enter event name">
                                        <input class="input100" type="text" name="event_name"
                                                value="<%= event.event_name %>" id="event_name" />
                                        <span class="focus-input100"></span>
                                </div>

                                <div class="wrap-input100 validate-input" data-validate="Please enter date">
                                        <input class="input100" type="date" name="data" value="<%= event.data %>"
                                                id="data">
                                        <span class="focus-input100"></span>
                                </div>

                                <div class="wrap-input100 validate-input" data-validate="Please enter place">
                                        <input class="input100" type="text" name="place" value="<%= event.place %>"
                                                id="place">
                                        <span class="focus-input100"></span>
                                </div>

                                <div class="wrap-input100 validate-input" data-validate="Please enter description">
                                        <textarea class="input100" name="description"
                                                id="description"> <%= event.description %></textarea>
                                        <span class="focus-input100"></span>
                                </div>


                                <input type="hidden" name="event_id" value="<%= event.event_id %>" id="event_id" />

                                <div class="container-contact100-form-btn">
                                        <button class="contact100-form-btn" id="update_event">
                                                <span>
                                                        <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
                                                        Save
                                                </span>
                                        </button>
                                        <input type="button" value="Go back!" onclick="history.back()"></input>
                                </div>

                        </form>
                </div>
        </div>



        <div id="dropDownSelect1"></div>

        <!--===============================================================================================-->
        <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/bootstrap/js/popper.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/daterangepicker/moment.min.js"></script>
        <script src="vendor/daterangepicker/daterangepicker.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/countdowntime/countdowntime.js"></script>
        <!--===============================================================================================-->
        <script src="js/main.js"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
        <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() { dataLayer.push(arguments); }
                gtag('js', new Date());

                gtag('config', 'UA-23581568-13');
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="events.js"></script>

</body>

</html>

<!-- <body>
        <form method="POST" action="/editEventDesc?_method=PUT" >
                <input type="hidden" name="id" value="<%= event.id %>" id="id"/>
                <div>event_name = <input name="event_name" value="<%= event.event_name %>" id="event_name"/></div>
                <div>data = <input type="date" name="data" value="<%= event.data %>" id="data"/></div>
                <div>place = <input name="place" value="<%= event.place %>" id="place"/></div>
                <div>description = <input name="description" value="<%= event.description %>" id="description"/></div>
                <input type="hidden" name="event_id" value="<%= event.event_id %>" id="event_id"/>
                <button id="update_event">Save</button>
                <input type="button" value="Go back!" onclick="history.back()">
         </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="events.js"></script>
 </body> -->