<html lang="en">

<head>
    <title>Event</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">

    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a,
        .dropbtn {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover,
        .dropdown:hover .dropbtn {
            background-color: red;
        }

        li.dropdown {
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</head>

<header>
    <ul>
        <li><a href="/event">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/myEvent">My Event</a></li>
        <li> <a href="/joinEvent">Join Event</a></li>
        <li><a href="/myComment">Comment</a></li>
        <li style="float:right"><a href="/logout">logout</a></li>
    </ul>
</header>
</br>
</br>
</br>

<body>
      <div> <a href="/insertEventForm"><button class="w3-button w3-xlarge w3-circle w3-black">Create event</button></a></div>
</br>
</br>
</br>
</br>
</br>
</br>
    <% event.forEach(function(item, index) { 
        if (index % 3 == 0) { %>
    <div class="row">
        <% } %>
        <section>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry justify-content-end">
                        <a class="block-20"></a>
                        </a>
                        <div class="text mt-3 float-right d-block">
                            <div class="d-flex align-items-center pt-2 mb-4 topp">
                                <div class="one mr-3">
                                    <span class="day"><%= item.event_name %></span>
                                    <div class="two">
                                        <span class="yr"><%= item.data %></span>
                                        <span class="mos"><%= item.place %></span>
                                    </div>
                                </div>
                            </div>
                            <h3 class="heading"><%= item.description %></h3>
                            <p></p>
                            <div class="d-flex align-items-center mt-4 meta">
                                <p class="mb-0"><a href="/viewEventComment?event_id=<%= item.event_id %>"
                                        class="btn btn-secondary">ViewComment <span></span></a></p>
                                <p class="mb-0"><a href="/joinDetail?event_id=<%= item.event_id %>"
                                        class="btn btn-secondary">JoinNumber <span></span></a></p>
                                <p class="mb-0"><a href="/insertjoinEvent?event_id=<%= item.event_id %>"
                                        class="btn btn-secondary">Join<span></span></a>
                                </p>
                            </div>
                            <div class="d-flex align-items-center mt-4 meta">
                                <p class="ml-auto mb-0">
                                    <div class="mr-2"><%= item.username %></div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <% if (index % 3 == 2) { %>
    </div>
    <% } %>
    <% }) %>
    <% if (event.length % 3 != 0) { %>
    </div>
    <% } %>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00" /></svg></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="event.js"></script>

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>
</body>

</html>


<!-- <!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<header>
        <div class="topnav">
                <a class="active" href="/event">Home</a>
                <a href="/myEvent">My Event</a>
                <a href="/joinEvent">Join Event</a>
                <a href="/myComment">Comment</a>
                <a href="/profile">Profile</a>
                <td><a href="/logout">logout</a></td>
            </div>
</header>


<body>
    <a href="/insertEventForm">Create new event</a>
    <h1>All Event</h1>
        <div>
            <% event.forEach(function(item) { %>
            <h3>event <%= item.event_name %></h3>
             <h3>holder <%= item.username %></h3>
            <p>
                <strong>data <%= item.data %> </strong> <br>
                <strong>place <%= item.place %></strong> <br>
                <strong>description <%= item.description %></strong> <br>
            </p><br>
            <a href="/viewEventComment?event_id=<%= item.event_id %>">ViewComment</a>
            <a href="/insertjoinEvent?event_id=<%= item.event_id %>" >Join</a>
            <a href="/joinDetail?event_id=<%= item.event_id %>">JoinNumber</a>
            <% }); %>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="event.js"></script>
</body>

</html> -->