<!DOCTYPE html>
<html lang="en">

<head>
        <title>Create Event</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->
        <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="css/util.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <!--===============================================================================================-->
        <style>
                input[type=button] {
                        padding: 5px;
                        border: 2px solid #ccc;
                        -webkit-border-radius: 5px;
                        border-radius: 5px;
                }

                input[type=button]:focus {
                        border-color: #333;
                }

                input[type=button] {
                        padding: 5px 15px;
                        background: #ccc;
                        border: 0 none;
                        cursor: pointer;
                        -webkit-border-radius: 5px;
                        border-radius: 5px;
                }
        </style>
</head>

<body>


        <div class="container-contact100">

                <div class="wrap-contact100">
                        <form class="contact100-form validate-form" method="POST">
                                <span class="contact100-form-title">
                                        Create New Event
                                </span>

                                <div class="wrap-input100 validate-input" data-validate="Please enter event name">
                                        <input class="input100" type="text" name="event_name" placeholder="Event Name">
                                        <span class="focus-input100"></span>
                                </div>
                                <div> <input type="hidden" name="id" value="<%= user.id %>" /></div>
                                <div class="wrap-input100 validate-input" data-validate="Please enter date">
                                        <input class="input100" type="date" name="data" placeholder="Date">
                                        <span class="focus-input100"></span>
                                </div>

                                <div class="wrap-input100 validate-input" data-validate="Please enter place">
                                        <input class="input100" type="text" name="place" placeholder="Place">
                                        <span class="focus-input100"></span>
                                </div>

                                <div class="wrap-input100 validate-input" data-validate="Please enter description">
                                        <textarea class="input100" name="description"
                                                placeholder="description"></textarea>
                                        <span class="focus-input100"></span>
                                </div>

                                <div class="container-contact100-form-btn">
                                        <button class="contact100-form-btn">
                                                <span>
                                                        <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
                                                        Send
                                                </span>
                                        </button>
                                        <input type="button" value="Go back!" onclick="history.back()"></input>
                                </div>

                        </form>
                </div>
        </div>



        <div id="dropDownSelect1"></div>

        <!--===============================================================================================-->
        <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/bootstrap/js/popper.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/daterangepicker/moment.min.js"></script>
        <script src="vendor/daterangepicker/daterangepicker.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/countdowntime/countdowntime.js"></script>
        <!--===============================================================================================-->
        <script src="js/main.js"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
        <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() { dataLayer.push(arguments); }
                gtag('js', new Date());

                gtag('config', 'UA-23581568-13');
        </script>

</body>

</html>







<!-- <form method="POST">
                <div>event name = <input name="event_name"/>
                <input type="hidden" name="id" value="<%= user.id %>" />
                <div>data = <input type="date" name="data"/>
                <div>place = <input name="place"/>
                <div>description = <input name="description"/>
                <button>Save</button>
         </form> -->