<html lang="en">

<head>
    <title>My comment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">

    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a,
        .dropbtn {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover,
        .dropdown:hover .dropbtn {
            background-color: red;
        }

        li.dropdown {
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        span.a {
            word-wrap: break-word;
        }

        a {
            text-decoration: none;
            display: inline-block;
            padding: 8px 16px;
        }

        a:hover {
            background-color: #ddd;
            color: black;
        }

        .previous {
            background-color: #4CAF50;
            color: white;
        }

        .round {
            border-radius: 50%;
        }

        .tip {
            width: 0px;
            height: 0px;
            position: absolute;
            background: transparent;
            border: 10px solid #ccc;
        }

        .tip-up {
            top: -25px;
            /* Same as body margin top + border */
            left: 10px;
            border-right-color: transparent;
            border-left-color: transparent;
            border-top-color: transparent;
        }

        .tip-down {
            bottom: -25px;
            left: 10px;
            border-right-color: transparent;
            border-left-color: transparent;
            border-bottom-color: transparent;
        }

        .tip-left {
            top: 10px;
            left: -25px;
            border-top-color: transparent;
            border-left-color: transparent;
            border-bottom-color: transparent;
        }

        .tip-right {
            top: 10px;
            right: -25px;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
        }

        .dialogbox .body {
            position: relative;
            max-width: 300px;
            height: auto;
            margin: 20px 10px;
            padding: 5px;
            background-color: #DADADA;
            border-radius: 3px;
            border: 5px solid #ccc;
        }

        .body .message {
            min-height: 30px;
            border-radius: 3px;
            font-family: Arial;
            font-size: 14px;
            line-height: 1.5;
            color: #797979;
        }
    </style>
</head>

<header>
    <ul>
        <li><a href="/event">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/myEvent">My Event</a></li>
        <li> <a href="/joinEvent">Join Event</a></li>
        <li><a href="/myComment">Comment</a></li>
        <li style="float:right"><a href="/logout">logout</a></li>
    </ul>
</header>
</br>
</br>
</br>

<body>
    <% event.forEach(function(item, index) { 
        if (index % 3 == 0) { %>
    <div class="row">
        <% } %>
        <div class="container">
            <div class="dialogbox">
                <div class="body">
                    <span class="tip tip-down"></span>
                    <div class="message a">
                        <span class="mos a"><%= item.comment %></span>
                    </div>
                </div>
            </div>
            <div>Event: <%= item.event_name %></div>
        </div>

        <p class="mb-0"><a href="/editEventComment?comment_id=<%= item.comment_id %>"
                class="btn btn-secondary">EditComment<span></span></a></p>
        <p class="mb-0"><a href="/deleteEventComment?comment_id=<%= item.comment_id %>" class="btn btn-secondary">Delete
                <span></span></a></p>
        <% if (index % 3 == 2) { %>
    </div>
    <% } %>
    <% }) %>
    <% if (event.length % 3 != 0) { %>
    </div>
    <% } %>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00" /></svg></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="event.js"></script>

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>
</body>

</html>



<!-- <!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<header>
        <div class="topnav">
                <a class="active" href="/event">Home</a>
                <a href="/myEvent">My Event</a>
                <a href="/joinEvent">Join Event</a>
                <a href="/myComment">Comment</a>
                <a href="/profile">Profile</a>
                <td><a href="/logout">logout</a></td>
            </div>
</header>


<body>
    <h1>My comment</h1>
    <div>
        <% event.forEach(function(item) { %>
        <h3>event_name <%= item.event_name %></h3>
        <p>
            <strong>Comment <%= item.comment %> </strong>
        </p><br>
        <a href="/editEventComment?comment_id=<%= item.comment_id %>">Edit event</a>
        <a href="/deleteEventComment?comment_id=<%= item.comment_id %>">Delete</a>
        <% }); %>
    </div>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="event.js"></script>
</body>

</html> -->