<!DOCTYPE html>
<html>

<head>
    <title>Comment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <style>
        .tip {
            width: 0px;
            height: 0px;
            position: absolute;
            background: transparent;
            border: 10px solid #ccc;
        }

        .tip-up {
            top: -25px;
            /* Same as body margin top + border */
            left: 10px;
            border-right-color: transparent;
            border-left-color: transparent;
            border-top-color: transparent;
        }

        .tip-down {
            bottom: -25px;
            left: 10px;
            border-right-color: transparent;
            border-left-color: transparent;
            border-bottom-color: transparent;
        }

        .tip-left {
            top: 10px;
            left: -25px;
            border-top-color: transparent;
            border-left-color: transparent;
            border-bottom-color: transparent;
        }

        .tip-right {
            top: 10px;
            right: -25px;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
        }

        .dialogbox .body {
            position: relative;
            max-width: 300px;
            height: auto;
            margin: 20px 10px;
            padding: 5px;
            background-color: #DADADA;
            border-radius: 3px;
            border: 5px solid #ccc;
        }

        .body .message {
            min-height: 30px;
            border-radius: 3px;
            font-family: Arial;
            font-size: 14px;
            line-height: 1.5;
            color: #797979;
        }

        span.a {
            word-wrap: break-word;
        }

        a {
            text-decoration: none;
            display: inline-block;
            padding: 8px 16px;
        }

        a:hover {
            background-color: #ddd;
            color: black;
        }

        .previous {
            background-color: #4CAF50;
            color: white;
        }

        .round {
            border-radius: 50%;
        }
    </style>
</head>
<header>
    <a href="/event" class="previous round">&#8249;</a>
</header>


<body>
    <span class="contact100-form-title">
        <h1>
            Comment
            </h1>

    </span>

    <% event.forEach(function(item) { %>
    <div class="container">
        <div class="dialogbox">
            <div class="body">
                <span class="tip tip-down"></span>
                <div class="message a">
                    <span class="a"><%= item.comment %></span>
                </div>
            </div>
        </div>
    </div>
    <%= item.username %>
    <% }); %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="event.js"></script>
</body>

</html>


<!-- <table>
    <table>
        <div>Comment<div>
                <% event.forEach(function(item) { %>
                <tr>
                    <td>User</td>
                    <td><%= item.username %></td>
                </tr>
                <tr>
                    <td></td>
                    <td><%= item.comment %></td>
                </tr>
                <% }); %>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="event.js"></script> -->